/*

this is my old and bad JavaFX CSS, this will be removed from the final build and is only here for reference 

*/



.button{
    -fx-text-fill: Black;
    -fx-background-fill: blanchedalmond;
    -fx-border-color: maroon;
    -fx-border-radius: 20;
    -fx-background-radius: 19;
    -fx-padding: 5;
}
.flow-pane{
    -fx-background-fill: blanchedalmond;
    -fx-border-color: maroon;
    -fx-border-radius: 20;
    -fx-background-radius: 19;
    -fx-padding: 5;
}
.toggle-button{
    -fx-background-color: rgb(255, 255, 255);
    -fx-border-color: maroon;
    -fx-border-radius: 9;
    -fx-background-radius: 9; 
    -fx-min-width: 18; 
    -fx-min-height: 18; 
    -fx-max-width: 18; 
    -fx-max-height: 18; 
    -fx-background-insets: 0; 
    -fx-padding: 0;
}
.radio-button{
    -fx-background-color: rgb(255, 255, 255);
    -fx-border-color: maroon;
    -fx-border-radius: 9;
    -fx-background-radius: 9; 
    -fx-min-width: 18; 
    -fx-min-height: 18; 
    -fx-max-width: 18; 
    -fx-max-height: 18; 
    -fx-background-insets: 0; 
    -fx-padding: 0;
}
#single-toggle-button{
    -fx-background-color: rgb(255, 255, 255);
    -fx-border-color: maroon;
    -fx-border-radius: 12;
    -fx-background-radius: 12; 
    -fx-min-width: 25; 
    -fx-min-height: 25; 
    -fx-max-width: 25; 
    -fx-max-height: 25; 
    -fx-background-insets: 0; 
    -fx-padding: 0;
}
#tool-bar{
    -fx-background-color: blanchedalmond;
    -fx-border-color: maroon;
    -fx-border-width: 2;
    -fx-padding: 2; 
    -fx-spacing: 40;
}

.label{
    -fx-border-radius: 20;
    -fx-background-color: blanchedalmond;
    -fx-text-font: bold 18pt "Verdana";
    -fx-text-fill: maroon;
}
#h2-font{
    -fx-text-font: bold 18pt "Verdana";
    -fx-text-fill: maroon;
    -fx-text-fontweight: bold;
}
.scroll-pane > .viewport {
    -fx-background-color: transparent;
}
.character-actions{
    -fx-background-color: blanchedalmond;
    -fx-text-font: bold 18pt "Verdana";
    -fx-text-fill: maroon;
    -fx-text-fontweight: bold;
}

.separator .line {
    -fx-background-color: maroon ;
    -fx-pref-height: 2;
    -fx-border-color: null ;

}


/*
* Scroll pane css
*/
.scroll-pane {
    -fx-background-color: transparent ;
    
}
.scroll-pane .scroll-bar {
    -fx-background-color: blanchedalmond;
    -fx-background-radius: 6;
    -fx-border-color: burlywood;
    -fx-border-radius: 6;
}

.scroll-pane .scroll-bar:vertical .track, .scroll-pane .scroll-bar:horizontal .track {
    -fx-background-color: transparent ;
    -fx-padding: 2px;
}

.scroll-pane .scroll-bar:vertical .thumb, .scroll-pane .scroll-bar:horizontal .thumb {
    -fx-background-color: rgb(255,255,255);
    -fx-border-color: maroon;
    -fx-border-radius: 12;
}
.scroll-pane .scroll-bar .increment-button, .scroll-pane .scroll-bar .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 2em;
    /*
    -fx-background-color: rgb(255, 255, 255); 
    -fx-border-color: maroon;
    -fx-border-radius: 12;
    */

    
}